    .frame{
    display: block;
    margin: auto;
    width: 750px;
    height: 500px;

}

   .dental12{
    height:800px;
    width: 800px

   }

   .middle {
    text-align: center;
   }

   .left {
    text-align: right;

   }

   body {
  background-color: #f3e6ff;
}



   h1{
    font-family: "Josefin Sans", sans-serif;

   }

   h3{
    font-family: "Josefin Sans", sans-serif;

   }

   .card {
    width: 102;
    height: 100%;
   }

   p {
    font-family: "Montserrat", sans-serif;
    color: #4400cc

   }

   .font {
     font-family: "Montserrat", sans-serif;

   }

   ul {
    color: #4400cc
   }

   li {
    color: #4400cc
   }

   h5 {
    color: #4400cc
   }
