    .frame{
    display: block;
    margin: auto;
    width: 750px;
    height: 500px;

}

   .dental12{
    height:800px;
    width: 800px

   }

   .middle {
    text-align: center;
   }

   .left {
    text-align: right;

   }

   body {
  background-color: #ddccff;
}

  .mild {
    width: 400px;
    height: 450px;
  }

   h1{
    font-family: "Josefin Sans", sans-serif;
   }

   h3{
    font-family: "Josefin Sans", sans-serif;
   }
   